/* Lobster font css is here */



.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-two-regular-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lobster-two-bold-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* H2 Font family is here */
  h2 {

    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;

  }

/* H2 Font family is here */
h1 {

    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  